<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <title>I Require Order</title>

</head>
<body>
<div class="center-me-div-pls">
    <br>
    <br>
    <p>
    <form action="#" th:action="@{heroAdd}" th:object="${heroDto}" method="post">
        <label for="name">Name:</label><input id="name" type="text" th:field="*{name}">
        <br><br>
        <label for="level">Level:</label>
        <select id="level" type="text" th:field="*{level}">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
        </select>
        <label for="max-hp">Health Points:</label><input id="max-hp" type="text" th:field="*{maxHealth}">
        <label for="ac">Armor Class:</label><input id="ac" type="text" th:field="*{armorClass}">
        <label for="initiativeBonus">Initiative bonus:</label><input id="initiativeBonus" type="text" th:field="*{initiativeBonus}">
        <label for="speed">Walking speed:</label><input id="speed" type="text" th:field="*{walkingSpeed}">
        <br><br>
        <label for="strength">Strength:</label><input id="strength" type="text" th:field="*{strength}">
        <label for="dexterity">Dexterity:</label><input id="dexterity" type="text" th:field="*{dexterity}">
        <label for="constitution">Constitution:</label><input id="constitution" type="text" th:field="*{constitution}">
        <label for="intelligence">Intelligence:</label><input id="intelligence" type="text" th:field="*{intelligence}">
        <label for="wisdom">Wisdom:</label><input id="wisdom" type="text" th:field="*{wisdom}">
        <label for="charisma">Charisma:</label><input id="charisma" type="text" th:field="*{charisma}">
        <br><br>
        <input type="submit" value="Submit" class="btn btn-default">
    </form>
    </p>
    <br>
    <br>
    <a href="/heroes.html" th:href="@{/heroes}" class="btn btn-default">
        Back
    </a>
    <a href="/home.html" th:href="@{/home}" class="btn btn-default">
        Back to Home
    </a>
</div>
</body>
</html>