<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

    <title>I Require Order</title>

</head>
<body>
    <div class="center-me-div-pls">
        <br>
        <br>
        <p>
            <form action="#" th:action="@{heroAdd}" th:object="${heroDto}" method="post">
                <label>Name:</label><input type="text" th:field="*{name}">
                <label>Max HP:</label><input type="text" th:field="*{maxHealth}">
                <label>Current HP:</label><input type="text" th:field="*{currentHealth}">
                <label>AC:</label><input type="text" th:field="*{armorClass}">
                <br>
                <br>
                <label>Strength:</label><input type="text" th:field="*{strength}">
                <label>Dexterity:</label><input type="text" th:field="*{dexterity}">
                <label>Constitution:</label><input type="text" th:field="*{constitution}">
                <label>Intelligence:</label><input type="text" th:field="*{intelligence}">
                <label>Wisdom:</label><input type="text" th:field="*{wisdom}">
                <label>Charisma:</label><input type="text" th:field="*{charisma}">
                <br>
                <br>
                <input type="submit" value="Submit">
            </form>
        </p>
        <br>
        <br>
        <a href="/heroes.html" th:href="@{/heroes}">
            <button>Back</button>
        </a>
        <a href="/home.html" th:href="@{/}">
            <button>Back to Home</button>
        </a>
    </div>
</body>
</html>