<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <title>I Require Order</title>

</head>
<body>
<div class="center-me-div-pls">
    <br>
    <br>
    <p>
    <form action="#" th:action="@{heroAdd}" th:object="${heroDto}" method="post">
        <label for="name">Name:</label><input id="name" type="text" th:field="*{name}">
        <label for="max-hp">Max HP:</label><input id="max-hp" type="text" th:field="*{maxHealth}">
        <label for="current-hp">Current HP:</label><input id="current-hp" type="text" th:field="*{currentHealth}">
        <label for="ac">AC:</label><input id="ac" type="text" th:field="*{armorClass}">
        <br>
        <br>
        <label for="strength">Strength:</label><input id="strength" type="text" th:field="*{strength}">
        <label for="dexterity">Dexterity:</label><input id="dexterity" type="text" th:field="*{dexterity}">
        <label for="constitution">Constitution:</label><input id="constitution" type="text" th:field="*{constitution}">
        <br>
        <br>
        <label for="intelligence">Intelligence:</label><input id="intelligence" type="text" th:field="*{intelligence}">
        <label for="wisdom">Wisdom:</label><input id="wisdom" type="text" th:field="*{wisdom}">
        <label for="charisma">Charisma:</label><input id="charisma" type="text" th:field="*{charisma}">
        <br>
        <br>
        <input type="submit" value="Submit" class="btn btn-default">
    </form>
    </p>
    <br>
    <br>
    <a href="/heroes.html" th:href="@{/heroes}" class="btn btn-default">
        Back
    </a>
    <a href="/home.html" th:href="@{/home}" class="btn btn-default">
        Back to Home
    </a>
</div>
</body>
</html>