<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <title>I Require Order</title>
</head>
<body>
<div class="center-me-div-pls">
    <p>Bye bye, all deleted</p>
    <br>
    <a href="/heroes.html" th:href="@{/heroes}" class="btn btn-default">
        Back
    </a>

    <a href="/home.html" th:href="@{/}" class="btn btn-default">
        Back to Home
    </a>
</div>
</body>
</html>