<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <title>I Require Order</title>

</head>
<body>
<div style="margin: auto; margin-top: 2%; width: 50%; text-align: center"><h1>Home</h1></div>
<div class="center-me-div-pls">

    <div>
        <a href="/heroes.html" th:href="@{/heroes}" class="btn btn-default">
            Heroes
        </a>
    </div>
    <br>
    <div>
        <a href="/initiativeTracker.html" th:href="@{/initiativeTracker}" class="btn btn-default">
            Initiative tracker
        </a>
    </div>
    <br>
    <div>
        <a href="/levelsTable.html" th:href="@{/levelsTable}" class="btn btn-default">
            Levels cheat sheet
        </a>
    </div>
</div>
</body>
</html>