<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="/js/initiativeTracker.js" defer></script>

    <title>I Require Order</title>

</head>
<body>
<div style="margin: auto; margin-top: 2%; width: 50%; text-align: center"><h1>Initiative tracker</h1></div>
<div class="center-me-div-pls">

    <table id="initiativeTracker" th:object="${tracker}">
        <tr>
            <th>Hero</th>
            <th>Initiative</th>
            <th>AC</th>
            <th>Current HP</th>
            <th>Max HP</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <br>
    <button type="button" onclick="addRow()" class="btn btn-default">
        Add row
    </button>
    <br>
    <br>
    <a href="/templates/home.html" th:href="@{/}" class="btn btn-default">
        Back to Home
    </a>
</div>
</body>
</html>