<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <title>I Require Order</title>
</head>
<body>
<div style="margin: auto; margin-top: 2%; width: 50%; text-align: center"><h1>Levels table</h1></div>
<div class="center-me-div-pls">
    <table class="table">
        <tr>
            <th>Level</th>
            <th>Sum</th>
            <th>Differential</th>
        </tr>
        <tr>
            <td>1</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>2</td>
            <td>300</td>
            <td>300</td>
        </tr>
        <tr>
            <td>3</td>
            <td>900</td>
            <td>600</td>
        </tr>
        <tr>
            <td>4</td>
            <td>2700</td>
            <td>1800</td>
        </tr>
        <tr>
            <td>5</td>
            <td>6500</td>
            <td>3800</td>
        </tr>
        <tr>
            <td>6</td>
            <td>14000</td>
            <td>5100</td>
        </tr>
        <tr>
            <td>7</td>
            <td>23000</td>
            <td>9000</td>
        </tr>
        <tr>
            <td>8</td>
            <td>34000</td>
            <td>11000</td>
        </tr>
        <tr>
            <td>9</td>
            <td>48000</td>
            <td>14000</td>
        </tr>
        <tr>
            <td>10</td>
            <td>64000</td>
            <td>16000</td>
        </tr>
        <tr>
            <td>11</td>
            <td>85000</td>
            <td>21000</td>
        </tr>
        <tr>
            <td>12</td>
            <td>100000</td>
            <td>15000</td>
        </tr>
        <tr>
            <td>13</td>
            <td>120000</td>
            <td>20000</td>
        </tr>
        <tr>
            <td>14</td>
            <td>140000</td>
            <td>20000</td>
        </tr>
        <tr>
            <td>15</td>
            <td>165000</td>
            <td>25000</td>
        </tr>
        <tr>
            <td>16</td>
            <td>195000</td>
            <td>30000</td>
        </tr>
        <tr>
            <td>17</td>
            <td>225000</td>
            <td>30000</td>
        </tr>
        <tr>
            <td>18</td>
            <td>265000</td>
            <td>40000</td>
        <tr>
            <td>19</td>
            <td>305000</td>
            <td>40000</td>
        </tr>
        <tr>
            <td>20</td>
            <td>355000</td>
            <td>50000</td>
        </tr>
    </table>
    <br>
    <a href="/home.html" th:href="@{/}" class="btn btn-default">
        Back to Home
    </a>
</div>
</body>
</html>